/**********************
      =Variables
***********************/

/*color-skin = #43464D*/
color-skin = #1B4B94
color-app = #3C3C3C

border-app-light = color-border-light 1px solid
border-app-dark = color-border-dark 1px solid
font-size-custom = 14px
font-app = font-size-custom "Helvetica Neue", Helvetica, Arial
