/**********************
      =Variables
***********************/

/*color-skin = #43464D*/
color-skin = #1B4B94
color-app = #3C3C3C
color-danger = lighten(red, 30%)
color-content = lighten(color-app, 94%)
color-lighten = lighten(color-app, 98%)
color-light = light(color-app, 70%)
color-darken = lighten(color-app, 90%)
color-border-light = lighten(color-app, 83%)
color-border-dark = lighten(color-app, 73%)
label-default-background = lighten(color-skin, 37%)

border-app-light = color-border-light 1px solid
border-app-dark = color-border-dark 1px solid
font-size-custom = 14px
font-app = font-size-custom "Helvetica Neue", Helvetica, Arial
