@import 'nib'
@import 'functions'
@import '../scripts/auth/styles/auth'
@import '../scripts/header/styles/header'
@import '../scripts/footer/styles/footer'
@import '../scripts/sections/home/styles/home'

md-grid-list
  .gray
    background #f5f5f5
  .green
    background #b9f6ca !important
  .yellow
    background #ffff8d
  .blue
    background #84ffff
  .purple
    background #b388ff
  .red
    background #ff8a80
  md-grid-tile
    transition all 400ms ease-out 50ms
