.span-top-nav {
  color: #000;
}
.b-login {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.famous-surface {
  cursor: pointer;
}
.header-logo {
  margin-bottom: 0px;
  padding: 15px;
}
.navbar-brand {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}
.navbar-brand img {
  display: inline-block;
}
.menuBtn {
  margin: 10px !important;
  top: 5px;
  left: 0px;
}
.navbar-header {
  padding: 10px;
  padding-bottom: 5px;
}
.navbar-form {
  margin: 0px;
}
.nav-auth li a {
  padding: 0px 5px;
}
.navbar-svet li a {
  color: #393939 !important;
}
.navbar-svet li a .text {
  color: #393939 !important;
  padding-left: 5px;
  display: inline-block;
}
.navbar-app {
  margin-bottom: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #fff !important;
}
.navbar-app li a .text {
  padding-left: 5px;
  display: inline-block;
}
.navbar-app li a .fa-angle-down {
  margin-left: 5px !important;
}
.span-top-nav {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Raleway', sans-serif;
}
.brand-name {
  font-size: 20px;
}
.brand-name,
.btn-search,
.fb-name {
  margin-left: 5px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: inherit;
}
.img-fb {
  width: 20px;
  height: 20px;
  margin-right: 5px !important;
}
.footer {
  background-color: #2b6fd8;
  height: 60px;
}
.footer span,
.footer a {
  color: #fbfbfb;
}
.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright {
  display: inline-block;
  margin-top: 10px;
}
.h1-sidehead {
  color: #fff !important;
}
.home-sidenav-layout {
  height: 1500px !important;
}
md-button.b-close {
  width: 30px !important;
}
md-item.aside-elem a {
  height: 40px !important;
  cursor: pointer;
  font-size: 14px;
}
md-grid-list .gray {
  background: #f5f5f5;
}
md-grid-list .green {
  background: #b9f6ca !important;
}
md-grid-list .yellow {
  background: #ffff8d;
}
md-grid-list .blue {
  background: #84ffff;
}
md-grid-list .purple {
  background: #b388ff;
}
md-grid-list .red {
  background: #ff8a80;
}
md-grid-list md-grid-tile {
  -webkit-transition: all 400ms ease-out 50ms;
  -moz-transition: all 400ms ease-out 50ms;
  -o-transition: all 400ms ease-out 50ms;
  -ms-transition: all 400ms ease-out 50ms;
  transition: all 400ms ease-out 50ms;
}
