div(layout='col' ui-view = '')
	md-list(layout='row')
		md-item(flex=33)(ng-repeat="a in articles")
			md-item-content
				sv-article-thumb(
				state='a.state'
				id='{{a.id}}'
				img='{{a.img}}'
				title='{{a.title}}'
				)

