md-bottom-sheet
	div(layout='row' layout-align='center' layout-padding='10')
		div.text-center(flex='')
			button.btn.btn--l.btn--fab
				i.mdi.mdi-facebook
		div.text-center(flex='')
			button.btn.btn--l.btn--fab
				i.mdi.mdi-twitter
		div.text-center(flex='')
			button.btn.btn--l.btn--fab
				i.mdi.mdi-linkedin
		div.text-center(flex='')
			button.btn.btn--l.btn--fab
				i.mdi.mdi-disqus
		div.text-center(flex='')
			button.btn.btn--l.btn--fab
				i.mdi.mdi-rss-box
