md-bottom-sheet
	div(layout='row' layout-align='center' layout-padding='10')
		div.text-center(flex='')
			a.btn.btn--xl.btn--fab(href="http://materialdesignicons.com/")
				i.mdi.mdi-facebook
		div.text-center(flex='')
			a.btn.btn--xl.btn--fab(href="http://materialdesignicons.com/")
				i.mdi.mdi-twitter
		div.text-center(flex='')
			a.btn.btn--xl.btn--fab(href="http://materialdesignicons.com/")
				i.mdi.mdi-linkedin
		div.text-center(flex='')
			a.btn.btn--xl.btn--fab(href="http://materialdesignicons.com/")
				i.mdi.mdi-rss-box
