md-bottom-sheet
	div.light-footer(layout='row' layout-align='center')
		div.text-center(flex='')
			a.btn.btn--xl.btn--fab(href="http://materialdesignicons.com/")
				i.mdi.mdi-facebook
		div.text-center(flex='')
			a.btn.btn--xl.btn--fab(href="http://materialdesignicons.com/")
				i.mdi.mdi-twitter
		div.text-center(flex='')
			a.btn.btn--xl.btn--fab(href="http://materialdesignicons.com/")
				i.mdi.mdi-linkedin
		div.text-center(flex='')
			a.btn.btn--xl.btn--fab(href="http://materialdesignicons.com/")
				i.mdi.mdi-rss-box
