div(layout='column' layout-align='center center' ng-if='weather')
    div(layout='row')
        .weather-city.text-center(flex-gt-sm='35' flex-sm='15') Сегодня
        .text-center(flex-gt-sm='20' flex-sm="15")
            img(ng-src="../img/weather/{{weather.currently.icon|IconProcess}}.png" style='display:inline-block; width:80%')
        .text-left(flex-gt-sm='20' flex-sm="15")
            .weather-city
                | {{weather.currently.apparentTemperature|FarToCelcius}}
                i.mdi.mdi-temperature-celsius
    div(layout='row')
        .weather-city.text-center(flex-gt-sm='35' flex-sm='15') Завтра
        .text-center(flex-gt-sm='20' flex-sm="15")
            img(ng-src="../img/weather/{{weather.daily.data[0].icon|IconProcess}}.png" style='display:inline-block; width:80%')
        .text-left(flex-gt-sm='20' flex-sm="15")
            .weather-city
                | {{weather.daily.data['2'].apparentTemperatureMax|FarToCelcius}}
                i.mdi.mdi-temperature-celsius
    div(layout='row')
        .weather-city.text-center(flex-gt-sm='35' flex-sm='15') После завтра
        .text-center(flex-gt-sm='20' flex-sm="15")
            img(ng-src="../img/weather/{{weather.currently.icon|IconProcess}}.png" style='display:inline-block; width:80%')
        .text-left(flex-gt-sm='20' flex-sm="15")
            .weather-city
                | {{weather.daily.data['4'].apparentTemperatureMax|FarToCelcius}}
                i.mdi.mdi-temperature-celsius

