.light-margin(layout-gt-sm='row' layout-sm='column' layout-align='start center')
	.weather-city(flex-gt-sm='35' flex-sm="100") Chicago, IL
	div.text-left(flex-gt-sm='20' flex-sm="100")
		img(ng-src="../img/weather/{{weather.icon}}.png" style='display:inline-block; width:80%')
	.text-left(flex-gt-sm='20' flex-sm="100")
		span.display-block.weather-city
			| {{weather.celc}}
			i.mdi.mdi-temperature-celsius

