div(layout='row' layout-gt-md='column' layout-align="center center")
	.light-margin-5
		.margin-bottom-15
			a(href='https://svet15.herokuapp.com/' target='_blank')
				img(src="../img/ad/ravinia.png")
		.margin-bottom-15
			a(href='http://www.auditoriumtheatre.org/on-our-stage/' target='_blank')
				img(src="../img/ad/auditorium.jpg")
		.margin-bottom-15
			img(src="../img/ad/theater.jpg")
