div(layout='row' layout-gt-md='column' layout-align="center center")
	.light-margin-5
		.margin-bottom-15.text-center
			a.display-inline-block(href='http://www.ravinia.org/' target='_blank')
				img(ng-src="img/clients/rvnlg.png" alt='Ravinia Festival')
		.margin-bottom-15.text-center
			a.display-inline-block(href='http://www.auditoriumtheatre.org/on-our-stage/' target='_blank')
				img(src="../img/ad/auditorium.jpg" alt="Auditorium Theatre")
		.margin-bottom-15.text-center
			a.display-inline-block(href='https://plus.google.com/115417382802523274969/videos' target='_blank')
				img(src="../img/ad/theater.jpg" alt="Theatre Atrum")
