div(layout='column' layout-gt-lg='row' layout-margin='10')
	.blue(flex flex-order-gt-lg='2' flex-order='1')
		div
			sv-grid-responsive
	.purple(flex flex-order-gt-lg='3' flex-order='2')
		| purple
	.yellow(flex flex-order-gt-lg='1' flex-order='3')
		|yellow

