div(layout='row' layout-margin='10' layout-md='column' layout-align='center')
	div(flex)
		md-card
			img(src="../img/articles/globe.jpg")
			| I am an Article of the Day
	div(flex)
		div(layout='row' layout-gt-md='column' layout-gt-lg='row')
			div(flex='' flex-order-gt-lg='1' flex-order-gt-md='2')
				md-card
					img(src="../img/articles/science.jpg")
					| I am Article 1
			div(flex='' flex-order-gt-lg='2' flex-order-gt-md='1')
				md-card
					img(src="../img/articles/culture.jpg")
					| I am Article 2
sv-home-news-grid
