sv-header
<<<<<<< HEAD
div(layout='row' flex)
	sv-main-left
	sv-main-content
	sv-main-right
=======
div(layout='column')
	div(layout='row' flex).fparent
		sv-main-left
		sv-main-content
		sv-main-right
>>>>>>> origin/master
sv-footer

