.home-sidenav-layout(layout='column')
	section(layout='row')
		md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left')
			md-toolbar.md-theme-light(ng-controller='LeftCtrl')
				.md-toolbar-tools
					h1.h1-sidehead.md-toolbar-tools Advertise with us
					button.btn.btn--m.btn--fab(lx-ripple='' ng-click='close()')
						i.mdi.mdi-close
			md-content.md-padding(ng-controller='LeftCtrl')
		md-content.md-padding(flex='')
			div(layout='row', layout-align='space-between top')
				div
					md-button.md-primary.md-hue-1(ng-click='toggleLeft()')
						| Advertise with us
				div
					md-button.md-accent(ng-click='toggleRight()', hide-gt-md='')
						| News Archive
			div(layout='col' ui-view='' layout-fill layout-align='center')
		md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right', md-is-locked-open="$media('gt-md')")
			md-toolbar.md-theme-light(ng-controller='RightCtrl')
				.md-toolbar-tools
					h1.h1-sidehead.md-toolbar-tools News Archive
					button.btn.btn--m.btn--fab(lx-ripple='' ng-click='close()' hide-gt-md='')
						i.mdi.mdi-close
			md-content.md-padding(ng-controller='RightCtrl')
				sv-aside-nav
				sv-elements-nav

	//.row
	//	.col-lg-9.content-wrapper
	//		div(ui-view='')
	//	aside.col-lg-3.left-sidebar
	//		sv-aside-nav
	//		.elements-nav-wrapper
	//			sv-elements-nav
	//			hr
	//		.sidebar-content
	//			sv-aside-panel
