div
    md-button.md-primary.md-hue-1.md-raised.b-login(ng-click="showAdvanced($event)", area-label='login' ng-if='!user')
        i.icon.icon--s.icon--flat.mdi.mdi-login
    div(ng-if='!!user')
        div {{user.fname}}  {{user.lname}}
        md-button.md-primary.md-hue-1.md-raised.b-logout(ng-click="logout()", area-label='logout')
            i.icon.icon--s.icon--flat.mdi.mdi-logout



