md-dialog(aria-label='Login')
	md-subheader.auth-subheader.md-sticky-no-effect
		| Log In
	md-content.auth-dialog-content
		lx-tabs(style='max-width:400px')
			lx-tab(icon='facebook')
			lx-tab(icon='google')
			lx-tab(icon='twitter')
				sv-login-form

