md-dialog(aria-label='Login')
	md-subheader.auth-subheader.md-sticky-no-effect
		| Log In
	md-content.auth-dialog-content(layout='row' layout-align="center center")
		div(flex='')
			md-button.md-primary.md-raised.btn-auth
				i.fa.fa-facebook.fa-fw.fa-lg
				| &nbsp Facebook
		div(flex='')
			md-button.md-accent.md-raised.btn-auth
				i.fa.fa-google-plus.fa-fw.fa-lg
				| &nbsp Google+


