md-dialog(aria-label='Login')
	md-subheader.auth-subheader.md-sticky-no-effect
		| Log In
	md-content.auth-dialog-content(layout='row' layout-align="center center")
		md-button.md-primary.md-raised
			i.icon.icon--s.icon--flat.mdi.mdi-facebook
			span.display-block.fs-body-2 Facebook


		ul.list(class='mt++')
			li.list-row.list-row--has-separator
				.list-row__primary
					sv-svg-large(provider='facebook')
				.list-row__content
					.fs-body-1.text-subheader Log In with Facebook Account
			li.list-row.list-row--has-separator
				.list-row__primary
					sv-svg-large(provider='google')
				.list-row__content
					.fs-body-1.text-subheader Log In with Google Plus Account
