md-dialog(aria-label='Login')
	md-subheader.auth-subheader.md-sticky-no-effect
		| Log In
	md-content.auth-dialog-content(layout='row' layout-align="center center")
		md-button.md-primary.md-raised
			i.icon.icon--s.icon--flat.mdi.mdi-facebook
			span.display-block.fs-body-2 Facebook


