.card
	div(flex-container='column')
		div(flex-item)
			lx-text-field(label='Email:')
				input(ng-model='textFields.lastNameDark' type='email')
		div(flex-item)
			lx-text-field(label='Password:')
				input(ng-model='textFields.lastNameDark' type='email')
	.card__actions
		button.btn.btn--m.btn--blue.btn--raised(lx-ripple) Login
		button.btn.btn--m.btn--white.btn--raised(lx-ripple) Cancel


