md-dialog(aria-label='Login')
	md-content
		md-subheader.md-sticky-no-effect Login
		md-tabs(flex)
			md-tab(label='Facebook')
				sv-login-form
			md-tab(label='Google')
				sv-login-form
			md-tab(label='Svet')
				sv-login-form
