<div class="card">
    <div flex-container="column">
        <div flex-item="flex-item">
            <lx-text-field label="Email:"><input ng-model="textFields.lastNameDark" type="email"/></lx-text-field>
        </div>
        <div flex-item="flex-item">
            <lx-text-field label="Password:"><input ng-model="textFields.lastNameDark" type="email"/></lx-text-field>
        </div>
    </div>
    <div class="card__actions">
        <button lx-ripple="lx-ripple" class="btn btn--m btn--blue btn--raised">Login</button>
        <button lx-ripple="lx-ripple" class="btn btn--m btn--white btn--raised">Cancel</button>
    </div>
</div>