<lx-dialog class="dialog dialog--l" id="login" onclose="closingDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                Login with:
            </span>

            <div class="toolbar__right">
                <button class="btn btn--m btn--white btn--icon" lx-ripple ng-click="closeLogin('login')">
                    <i class="mdi mdi-close"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="dialog__content">
        <fa-app style={{'width:'+w+'px;height:'+h+'px'}}>
            <fa-grid-layout fa-options='myGridLayoutOptions' id="grid">
                <fa-modifier ng-repeat="grid in grids"
                             fa-size="[100, 100]">
                    <fa-surface fa-background-color="grid.bgColor"></fa-surface>
                </fa-modifier>
            </fa-grid-layout>
        </fa-app>
    </div>
</lx-dialog>