md-dialog(aria-label='Login')
	md-content
		md-tabs(flex)
			md-tab(label='Facebook')
				sv-login-form
			md-tab(label='Google')
				sv-login-form
			md-tab(label='Svet')
				sv-login-form
		lx-tabs
				lx-tab(icon='facebook-box')
					sv-login-form
				lx-tab(icon='google-plus-box')
					sv-login-form
				lx-tab(icon='newspaper')
					sv-login-form

	.md-actions(layout='row')
		md-button.md-primary.md-raised(ng-click="login()") Login
		md-button.md-button.md-raised(ng-click="cancel()") Cancel
