div(layout='column' layout-margin='10')
	div(flex='')
		lx-text-field(label='Email:')
			input(ng-model='textFields.lastNameDark' type='email')
	div(flex='')
		lx-text-field(label='Password:')
			input(ng-model='textFields.lastNameDark' type='email')
	section(layout='row' layout-margin='10' layout-padding='10' layout-align='start center')
		button.btn.btn--m.btn--blue.btn--raised.margin-right(lx-ripple) Login
		button.btn.btn--m.btn--white.btn--raised(lx-ripple ng-click="close()") Cancel



