div(layout='row' layout-margin )
	md-button.md-primary.md-hue-1.md-raised.b-login(ng-click="openLogin('login')", lx-ripple="" area-label='login' ng-show='!auth.user')
		i.icon.icon--s.icon--flat.mdi.mdi-login
	//sv-lumx-auth




