div
	ul.nav.navbar-nav.pull-right.nav-auth
		li(ng-show='!auth.user')
			button.btn.btn--m.btn--white.btn--raised(ng-click="openLogin('login')", lx-ripple="")
				i.mdi.mdi-account Log in

	sv-lumx-auth




