div(layout='column' flex='')
	sv-news-title(title = "Архив")
	div(flex='')
		md-grid-list(
		md-cols-sm='2'
		md-cols-gt-sm='3'

		md-row-height="2:3"
		md-gutter='15px')
			md-grid-tile.card(ng-repeat='a in archive.data')
				a(href='scripts/magazine/index.html')
					img(ng-src="../img/archieve/daily-news.jpg")

