div(layout='column' layout-gt-md='row' id='content' layout-margin='')
	div(flex-gt-md='20' flex-sm="100")
		sv-news-toolbar(number='7' panel-title='Last News')
	div(flex='' ui-view='')
	div(flex-gt-md='20' flex-sm="100")
		sv-news-toolbar(number='7' panel-title='Featured')
