@import 'nib'

/**********************
      =Sidenav
***********************/
.h1-sidehead
  color white !important

.home-sidenav-layout
  height 1500px !important

md-button.b-close
  width 30px !important

md-item.aside-elem
  a
    height 40px !important
    cursor pointer
    font-size 14px
    color color-content

md-grid-list
  .green
    background #b9f6ca !important
  .yellow
    background #ffff8d
  .blue
    background #84ffff
  .purple
    background #b388ff
  .red
    background #ff8a80
  md-grid-tile
    transition all 400ms ease-out 50ms
