@import 'nib'

/**********************
      =Sidenav
***********************/
.h1-sidehead
  color white !important

.home-sidenav-layout
  height 100%
  min-height 500px

md-button.b-close
  width 30px !important
