@import 'nib'

/**********************
      =Sidenav
***********************/
.h1-sidehead
  color white !important

.home-sidenav-layout
  height 1500px !important

md-button.b-close
  width 30px !important

md-item.aside-elem
  a
    height 40px !important
    cursor pointer
    font-size 14px
    color color-content
