/**********************
      =Sidenav
***********************/
.h1-sidehead {
  color: #fff !important;
}
.home-sidenav-layout {
  height: 1500px !important;
}
md-button.b-close {
  width: 30px !important;
}
md-item.aside-elem a {
  height: 40px !important;
  cursor: pointer;
  font-size: 14px;
  color: color-content;
}
md-grid-list .green {
  background: #b9f6ca !important;
}
md-grid-list .yellow {
  background: #ffff8d;
}
md-grid-list .blue {
  background: #84ffff;
}
md-grid-list .purple {
  background: #b388ff;
}
md-grid-list .red {
  background: #ff8a80;
}
md-grid-list md-grid-tile {
  -webkit-transition: all 400ms ease-out 50ms;
  -moz-transition: all 400ms ease-out 50ms;
  -o-transition: all 400ms ease-out 50ms;
  -ms-transition: all 400ms ease-out 50ms;
  transition: all 400ms ease-out 50ms;
}
