div(layout='row' )
	div(flex)
		md-content
			md-card
				img(src="../img/news-sections/politics128.jpg")
	div(flex)
		md-content
			md-card
				img(src="../img/news-sections/business128.jpg")
div(layout='row')
	div(flex)
		md-content
			md-card
				img(src="../img/news-sections/economy128.jpg")
	div(flex)
		md-content
			md-card
				img(src="../img/news-sections/sport128.jpg")

