.row
  .col-lg-6.col-md-3.col-sm-3.col-xs-3.elements-nav
    sv-frame(name='Top News', element-class='fire', fen-element-active='fenElementActive')
  .col-lg-6.col-md-3.col-sm-3.col-xs-3.elements-nav
    sv-frame(name='Top News', element-class='water', fen-element-active='fenElementActive')
  .col-lg-6.col-md-3.col-sm-3.col-xs-3.elements-nav
    sv-frame(name='Top News', element-class='soft-wood', fen-element-active='fenElementActive')
  .col-lg-6.col-md-3.col-sm-3.col-xs-3.elements-nav
    sv-frame(name='Top News', element-class='hard-wood', fen-element-active='fenElementActive')

