div(layout='column' layout-align="left center")
	md-list
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.home')
					i.mdi.mdi-home
					span.text &nbsp Home &nbsp
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.admin')
					i.mdi.mdi-file-document
					span.text &nbsp Politics &nbsp
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.education')
					i.mdi.mdi-file-document
					span.text &nbsp Business

		md-item.aside-elem
			md-item-content
				a(ui-sref='app.education')
					i.mdi.mdi-file-document
					span.text &nbsp Economy
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.education')
					i.mdi.mdi-file-document
					span.text &nbsp Culture
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.education')
					i.mdi.mdi-file-document
					span.text &nbsp Sciense
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.education')
					i.mdi.mdi-file-document
					span.text &nbsp sciense
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.education')
					i.mdi.mdi-file-document
					span.text &nbsp Entertainment
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.education')
					i.mdi.mdi-file-document
					span.text &nbsp Society
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.education')
					i.mdi.mdi-file-document
					span.text &nbsp Health
		md-item.aside-elem
			md-item-content
				a(ui-sref='app.education')
					i.mdi.mdi-file-document
					span.text &nbsp Traveling

