div(layout='column' layout-align="left center")
	md-list.list-nav
		sv-nav-link(url='app.home' title='Домашняя Страница' icon='home')
		sv-nav-link(url='app.politics' title='Политика' icon='information-outline')
		sv-nav-link(url='app.home' title='Мы и Деньги' icon='gas-station')
		sv-nav-link(url='app.home' title='Культура' icon='palette')
		sv-nav-link(url='app.home' title='Кушать Подано' icon='food-variant')
		sv-nav-link(url='app.home' title='Будьте Здоровы' icon='human')

