div(layout='column' layout-align="left center" layout-margin='10')
	md-list.list-nav
		sv-nav-link(url='app.home' title='Домашняя Страница' icon='home')
		sv-nav-link(url='app.home' title='Политика' icon='information-outline')
		sv-nav-link(url='app.home' title='Культура' icon='information-outline')
		sv-nav-link(url='app.home' title='Кушать Подано' icon='information-outline')
		sv-nav-link(url='app.home' title='Будьте Здоровы' icon='information-outline')
		sv-nav-link(url='app.home' title='Classified' icon='information-outline')

		md-item.aside-elem
			md-item-content
				md-button(ui-sref='app.politics' ng-click='closeSideBar()')
					i.mdi.mdi-file-document
					span.text &nbsp Событие Недели &nbsp

		md-item.aside-elem
			md-item-content
				md-button(ui-sref='app.politics' ng-click='closeSideBar()')
					i.mdi.mdi-file-document
					span.text &nbsp Событие Недели &nbsp

		md-item.aside-elem
			md-item-content
				md-button(ui-sref='app.education' ng-click='closeSideBar()')
					i.mdi.mdi-file-document
					span.text &nbsp Культура

		md-item.aside-elem
			md-item-content
				md-button(ui-sref='app.education' ng-click='closeSideBar()')
					i.mdi.mdi-file-document
					span.text &nbsp Кушать Подано

		md-item.aside-elem
			md-item-content
				md-button(ui-sref='app.education' ng-click='closeSideBar()')
					i.mdi.mdi-file-document
					span.text &nbsp Будьте здоровы

		md-item.aside-elem
			md-item-content
				md-button(ui-sref='app.education' ng-click='closeSideBar()')
					i.mdi.mdi-file-document
					span.text &nbsp Classified
