div(layout='column' layout-align="left center")
	md-list.list-nav
		sv-nav-link(url='app.svet-user.home' title='Домашняя Страница' icon='home')
		sv-nav-link(url='app.svet-user.politics' title='Политика' icon='information-outline')
		sv-nav-link(url='app.svet-user.money' title='Мы и Деньги' icon='bank')
		sv-nav-link(url='app.svet-user.culture' title='Культура' icon='palette')
		sv-nav-link(url='app.svet-user.society' title='Общество' icon='account-multiple')
		sv-nav-link(url='app.svet-user.science' title='Мир' icon='earth')
		//sv-nav-link(url='app.archive' title='Архив' icon='zip-box')

