@import 'nib'

/**********************
      =mixins
***********************/

news-xs()
  font-size 11px
  line-height 14px !important

news-header-s()
  font-size 10px
  line-height 12px

/**********************
     =article
***********************/
.breadcrumb-section
  cursor pointer

.fs-body-1
  font-size 18px !important
  line-height 30px

.fs-body-2
  font-size 14px !important
  line-height 24px

.whiteframedemoBasicUsage md-whiteframe
  background #fff
  margin 20px
  padding 20px

.article-header
  font-size 36px
  line-height 53px
  font-weight bold

  @media screen and (max-width: 992px)
    font-size 150%
    line-height 150%

.one-article-body
  font-size 14px

.article-toolbar-body
  color #393939
  news-xs()

.article-toolbar-date
  news-xs()

.article-quote
  font-size 14px
  color #777777
  font-style italic
  line-height 22px
  footer
    font-size 13px
    line-height 22px

.comment-feedback-link
  cursor pointer

.article-thumb-header
  font-weight bold


.article-thumb-header-s
  news-header-s()

  @media screen and (max-width: 1200px)
    font-size 12px
    line-height 15px
    font-weight bold

.article-thumb-body
  line-height 20px
  font-size 13px

  @media screen and (min-width: 1200px)
    font-size 12px
  @media screen and (min-width: 1400px)
    font-size 14px

.positioner
  max-width 1260px
  margin 0 auto

.card-light
  height 600px

.row-news-title
  font-size 16px

  @media screen and (min-width: 960px)
    font-size 15px

.aside-img
  display inline-block

/**********************
 =search
***********************/

.search-filter__label
  width 30px
  height 30px

