/**********************
 =article
***********************/
.fs-body-1 {
  font-size: 18px !important;
  line-height: 30px;
}
.fs-body-2 {
  font-size: 14px !important;
  line-height: 24px;
}
.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px;
}
.article-header {
  font-size: 36px;
  line-height: 53px;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .article-header {
    font-size: 150%;
    line-height: 150%;
  }
}
.article-quote {
  font-size: 14px;
  color: #777;
  font-style: italic;
  line-height: 22px;
}
.article-quote footer {
  color: #444;
  font-size: 13px;
  line-height: 22px;
}
