md-content
	a.txt-fontGrey(ui-sref='app.reader.article({id:id})')
		img(ng-src="{{img}}")
		.light-padding-10
			span.display-block.fs-subhead.text-primary.main-article-thumb-title {{title}}
			span.display-block.fs-caption.main-article-thumb-body {{body}}
