md-whiteframe.md-whiteframe-z1(layout='column' layout-padding='10')
	md-list
		md-item
			md-item-content
				.md-tile-left
					img.face(src="../img/articles/user.png")
				//(ng-src='{{item.face}}', alt='{{item.who}}')
				.md-tile-content
					.padding-left-10
						h3 At vero eos et accusamus et iusto odio dignissimos ducimus
							//| {{item.what}}
						h4 User Name
							//| {{item.who}}
						p User moto
							//| {{item.notes}}
						ul.list-inline
							li
								a.comment-feedback-link
									i.icon.icon--xrs.icon--flat.mdi.mdi-thumb-up
							li
								a.comment-feedback-link
									i.icon.icon--xrs.icon--flat.mdi.mdi-comment-text
		md-divider
		md-item
			md-item-content
				.md-tile-left
					img.face(src="../img/articles/user1.png")
				//(ng-src='{{item.face}}', alt='{{item.who}}')
				.md-tile-content
					.padding-left-10
						h3 At vero eos et accusamus et iusto odio dignissimos ducimus
							//| {{item.what}}
						h4 User Name
							//| {{item.who}}
						p User moto
							//| {{item.notes}}
						ul.list-inline
							li
								a.comment-feedback-link
									i.icon.icon--xrs.icon--flat.mdi.mdi-thumb-up
							li
								a.comment-feedback-link
									i.icon.icon--xrs.icon--flat.mdi.mdi-comment-text
		md-divider
		md-item
			md-item-content
				.md-tile-left
					img.face(src="../img/articles/user2.png")
				//(ng-src='{{item.face}}', alt='{{item.who}}')
				.md-tile-content
					.padding-left-10
						h3 At vero eos et accusamus et iusto odio dignissimos ducimus
							//| {{item.what}}
						h4 User Name
							//| {{item.who}}
						p User moto
							//| {{item.notes}}
						ul.list-inline
							li
								a.comment-feedback-link
									i.icon.icon--xrs.icon--flat.mdi.mdi-thumb-up
							li
								a.comment-feedback-link
									i.icon.icon--xrs.icon--flat.mdi.mdi-comment-text
		md-divider
		md-item
			md-item-content
				.md-tile-left
					img.face(src="../img/articles/user3.png")
				//(ng-src='{{item.face}}', alt='{{item.who}}')
				.md-tile-content
					.padding-left-10
						h3 At vero eos et accusamus et iusto odio dignissimos ducimus
							//| {{item.what}}
						h4 User Name
							//| {{item.who}}
						p User moto
							//| {{item.notes}}
						ul.list-inline
							li
								a.comment-feedback-link
									i.icon.icon--xrs.icon--flat.mdi.mdi-thumb-up
							li
								a.comment-feedback-link
									i.icon.icon--xrs.icon--flat.mdi.mdi-comment-text
