div(layout='column' flex='')
	div.margin-top-8.margin-bottom-10.margin-left-5(flex='')
		div(layout='row' layout-align='start end')
			a.fs-caption.breadcrumb-section Section Name
			span &nbsp / &nbsp
			span.fs-caption.display-block {{title|Title:15}}
	.light-margin-5(flex='')
		.card
			.light-margin
				span.fs-display-1.display-block {{title}}
				.margin-bottom-5
					span.fs-caption.display-block Svet Media Group
				div(layout='row' layout-align='space-between')
					div(flex="80")
						ul.list-inline.list-unstyled.margin-bottom-5
							li
								img(src="../img/social/fb-share.png" lx-ripple lx-tooltip="Поделиться")
							li
								img(src="../img/social/google-share.png" lx-ripple lx-tooltip="Поделиться")
							li
								img(src="../img/social/twitter-share.png" lx-ripple lx-tooltip="Поделиться" )
							li
								img(src="../img/social/linkedin-share.png" lx-ripple lx-tooltip="Поделиться")
							li
					div(flex="20")
						span.display-block.text-right.color-subheader(lx-ripple lx-tooltip="Просмотры")
							i.icon.icon--s.icon--flat.mdi.mdi-eye
				div.atricle-img.margin-bottom-15
					img(ng-src="{{img}}")
				div.light-padding-5.margin-bottom-15
					p.fs-body-2 {{body}}
	.light-margin-5(flex='')
		md-toolbar.bgc-blue-grey-50.toolbar-blue-grey
			h1.md-toolbar-tools.txt-fontGrey Comments
		sv-comment
