div(layout='column' flex='')
	div.margin-top-8.margin-bottom-10.margin-left-5(flex='')
		div(layout='row' layout-align='start end')
			a.fs-caption.breadcrumb-section Section Name
			span &nbsp / &nbsp
			span.fs-caption.display-block {{title|Title:15}}
	div.margin-top-8.margin-bottom-10.margin-left-5(flex='')
		span.fs-caption Теги:
		span(ng-repeat='s in sections track by $index') &nbsp
			.text-subheader.label.label-default {{s}}
	.light-margin-5(flex='')
		.card
			.light-margin
				span.fs-display-1.display-block {{title}}
				span.fs-caption.display-block.margin-bottom-5 Svet Media Group
				div(layout='row' layout-align='space-between')
					.margin-bottom-5(flex="80")
						sv-social-share
					div(flex="20")
						span.display-block.text-right.color-subheader(lx-ripple lx-tooltip="Просмотры")
							i.icon.icon--s.icon--flat.mdi.mdi-eye
				div.atricle-img.margin-bottom-15
					img(ng-src="{{img}}")
				div.light-padding-5.margin-bottom-15
					p.fs-body-2 {{body}}
				div.light-padding-5.margin-bottom-15
					p.fs-caption {{date}}
