.news-tags-wrapper {
  word-wrap: break-word;
}
.tag-link {
  line-height: 28px;
  text-decoration: none;
  cursor: pointer;
}
/*.tag-ukraine*/
/*font-size 26px*/
/*.tag-usa*/
/*font-size 32px*/
/*.tag-politics*/
/*font-size 20px*/
/*.tag-russia*/
/*font-size 26px*/
/*.tag-chicago*/
/*font-size 30px*/
/*.tag-events*/
/*font-size 14px*/
/*.tag-opinion*/
/*font-size 16px*/
/*.tag-europe*/
/*font-size 18px*/
/*.tag-economy*/
/*font-size 26px*/
/*.tag-medicine*/
/*font-size 18px*/
/*.tag-israel*/
/*font-size 16px*/
/*.tag-latvia*/
/*font-size 18px*/
/*.tag-movie*/
/*font-size 14px*/
/*.tag-electronics*/
/*font-size 18px*/
/*.tag-health*/
/*font-size 18px*/
/*.tag-illinois*/
/*font-size 24px*/
/*.tag-newyourk*/
/*font-size 22px*/
/*.tag-fasion*/
/*font-size 18px*/
/*.tag-books*/
/*font-size 22px*/
