/**********************
    =footer
***********************/
.footer {
  background-color: #2b6fd8;
  height: 60px;
}
.footer span,
.footer a {
  color: color-lighten;
}
.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright {
  display: inline-block;
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .light-footer {
    padding: 10px;
  }
}
@media screen and (max-width: 992px) {
  .light-footer {
    padding-bottom: 30px !important;
  }
}
.toolbar-g {
  background-color: #eceff1 !important;
}
.h-footer {
  color: #777;
}
