/**********************
    =footer
***********************/
.footer {
  background-color: #2b6fd8;
  height: 60px;
}
.footer span,
.footer a {
  color: #fbfbfb;
}
.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright {
  display: inline-block;
  margin-top: 10px;
}
