@import 'nib'
@import '../../../styles/functions'

/**********************
    =footer
***********************/

.footer
  background-color lighten(color-skin, 25%)
  height 60px
  span, a
    color color-lighten

.footer-content
  padding-top 15px
  padding-bottom 15px

.copyright
  display inline-block
  margin-top 10px

.light-footer
  @media screen and (min-width: 992px)
    padding 10px
  @media screen and (max-width: 992px)
    padding-bottom 30px !important

.toolbar-g
  background-color #EFEFF1 !important

.h-footer
  color #777777

.text-footer
  color #777777
  display block
  font-size 13px

  @media screen and (max-width: 992px)
    font-size 11px

