.yellow {
  background-color: #fafad2;
}
.red {
  background-color: #f00;
}
.orange {
  background-color: #ff7f50;
}
.purple {
  background-color: #9370db;
}
.blue {
  background-color: #00bfff;
}
.green {
  background-color: #008000;
}
.grey {
  background-color: #d3d3d3;
}
/**********************
    =footer
***********************/
.footer {
  background-color: #2b6fd8;
  height: 60px;
}
.footer span,
.footer a {
  color: #fbfbfb;
}
.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright {
  display: inline-block;
  margin-top: 10px;
}
