md-toolbar(layout='row' layout-padding='' layout-align='space-between center' style='background: linear-gradient(#D32F2F, #C62828, #B71C1C)')
    div
        span.display-inline-block.svet-logo-s S
        span.display-inline-block.svet-logo-text VET
    div
        sv-auth-btn

