md-toolbar.toolbar-red(layout='row' layout-padding='' layout-align='space-between center')
    md-button.menu(hide-gt-sm='', ng-click='ul.toggleList()', aria-label='Show User List')
        md-icon(md-svg-icon='img/svg/menu.svg')
    div
        span.display-inline-block.svet-logo-s S
        span.display-inline-block.svet-logo-text VET
        sv-new-dir(some-string = 'Hello')
    div
        sv-auth-btn

