md-toolbar(layout='column')
	div(layout='row' layout-align='space-between center')
		div(flex-md='25' flex-sm="20" )
			.light-margin(hide-sm)
				span Chicago, IL
				span
					img(src="../img/weather/partlycloudy.png" style='display:inline-block')
				span
					i.icon.icon--s.icon--flat.mdi.mdi-temperature-fahrenheit
		div(flex-md='50' flex-sm="60")
			.header-logo
				a(ui-sref='app.home')
					img.img-responsive(ng-src="img/logo/newLightLogo580.png")
		div(flex-md='25' flex-sm="20")
			sv-svet-auth
	div(layout='row')
		.text-center(flex)
			span.display-block.first-newspaper FIRST RUSSIAN NEWSPAPER IN CHICAGO




