md-toolbar(layout='row' layout-align='space-between center')
	.text-right(flex-gt-lg='20' flex-gt-sm='25' flex-sm="20")
		sv-weather
	div(flex-gt-lg='60' flex-gt-sm='50' flex-sm="60")
		.header-logo.margin-top-8.text-center
			a.text-center(ui-sref='app.home')
				img.img-responsive(ng-src="img/logo/newLightLogo580.png" style='display:inline-block')
		.text-center.margin-top-8
			span.display-block.fs-subhead.first-newspaper Первая Русская Газета в Чикаго
	div(flex-gt-lg='20' flex-gt-sm='25' flex-sm="20")
		.margin-right-10.text-right
			sv-auth-btn

