div(layout='row' layout-align="left center")
	sv-nav-link(url='app.profile.author-dashboard' title='Home' icon='home')
	sv-nav-link(url='app.profile.author-articles' title='My Articles' icon='file-document-box')
div(layout='row' layout-align="right center")
	button.btn.btn--m.btn--raised(lx-ripple='' ui-sref='app.profile.create-article')
		i.mdi.mdi-plus.fc-red-500
