div(layout='column')
	md-content.md-padding
		span.display-block.fs-display-1.txt-fontGrey(class='mt+') My Articles
		md-divider(class='mt+')
	div(layout='row' layout-margin='10')
		div(flex-gt-sm='50' flex-sm="100" id='datepicker')
