div(layout='row' layout-margin='' layout-align='space-around center' hide-gt-lg='')
	.margin-bottom-5
		md-button.bgc-grey-200.md-raised.tc-grey-800(ng-click='main.toggleLeft()' style='font-size:11px')
			i.mdi.mdi-newspaper
			| &nbsp Рубрики Новостей
	.margin-bottom-5
		md-button.md-accent.md-raised.txt-white(ng-click='main.toggleRight()' style='font-size:11px')
			i.fa.fa-file-archive-o.fa-fw
			| &nbsp Наши Сервисы

