div(layout='row' layout-gt-md='column' layout-align="center center")
	div(style=' margin-bottom: 15px')
		img(src="../img/ad/svet-ad.jpg")
	div(style=' margin-bottom: 15px')
		img(src="../img/ad/theater.jpg")
	div(style=' margin-bottom: 15px')
		img(src="../img/ad/auditorium.jpg")
