div(layout='row' layout-gt-md='column')
	.text-center(style=' margin-bottom: 15px' flex)
		img(src="../img/ad/svet-ad.jpg")
	.text-center(style=' margin-bottom: 15px' flex)
		img(src="../img/ad/theater.jpg")
	.text-center(style=' margin-bottom: 15px' flex)
		img(src="../img/ad/auditorium.jpg")
