div(layout='row', flex='')
	md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$media('gt-md')")
		md-toolbar.md-accent( hide-gt-md='' ng-controller='LeftCtrl' layout='row' layout-align='space-around center')
			span Advertise with us
			button.btn.btn--m.btn--fab(ng-click='close()')
				i.mdi.mdi-close
		md-content.md-padding(ng-controller='LeftCtrl')
			sv-left-aside-nav
			p(hide-md='', show-gt-md='')
				| This sidenav is locked open on your device. To go back to the default behavior,
				| narrow your display.
	md-content.md-padding(flex='')
		div(layout='row', layout-align='center center', layout-margin, hide-gt-md)
			md-button.md-primary(ng-click='toggleLeft()')
				i.mdi.mdi-newspaper
				| &nbsp More News Sections
			md-button.md-primary(ng-click='toggleRight()')
				i.fa.fa-file-archive-o.fa-fw
				| News Archive
	md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right' , md-is-locked-open="$media('gt-md')")
		md-toolbar.md-accent(ng-controller='RightCtrl' layout='row' layout-align='space-around center')
			button.btn.btn--m.btn--fab(ng-click='close()' hide-gt-md='')
				i.mdi.mdi-close
			span Archive
		md-content.md-padding(ng-controller='RightCtrl')
			sv-aside-nav
