div(layout='row', flex='')
	md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left', md-is-locked-open="$media('gt-sm')")
	#content(layout='column', flex='')
		md-content.md-padding(layout='column', flex='')