div(layout='row', flex='')
	//flex makes your app height bounded to window height
	md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$media('gt-lg')")
		md-toolbar.md-accent( hide-gt-lg='' ng-controller='LeftCtrl' layout='row' layout-align='space-around center')
			span Advertise with us
			button.btn.btn--m.btn--fab(ng-click='close()')
				i.mdi.mdi-close
		md-content.md-padding(ng-controller='LeftCtrl')
			sv-left-aside-nav
			h2 POPULAR
			sv-elements-nav
			p(hide-md='', show-gt-md='')
				| This sidenav is locked open on your device. To go back to the default behavior,
				| narrow your display.
	md-content(flex='')
		div(layout='column')
			div(layout='row', layout-align='center center', layout-margin, hide-gt-lg='')
				md-button.md-primary(ng-click='toggleLeft()')
					i.mdi.mdi-newspaper
					| &nbsp More News Sections
				md-button.md-primary(ng-click='toggleRight()')
					i.fa.fa-file-archive-o.fa-fw
					| News Archive
			div(layout='row' layout-margin='10' layout-md='column' layout-align='center')
				div(flex='' flex-gt-md='70')
					md-card
						img(src="../img/articles/globe.jpg")
						| I am an Article of the Day
				div(flex='' flex-gt-md='30')
					div(layout='row' layout-gt-md='column')
						div(flex='' flex-order-gt-lg='1' flex-order-gt-md='2')
							md-card
								img(src="../img/articles/science.jpg")
								| I am Article 1
						div(flex='' flex-order-gt-lg='2' flex-order-gt-md='1')
							md-card
								img(src="../img/articles/culture.jpg")
								| I am Article 2
		sv-home-news-grid
	md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right' , md-is-locked-open="$media('gt-lg')")
		md-toolbar.md-accent(ng-controller='RightCtrl' layout='row' layout-align='space-around center')
			button.btn.btn--m.btn--fab(ng-click='close()' hide-gt-md='')
				i.mdi.mdi-close
			span Archive
		md-content.md-padding(ng-controller='RightCtrl')
			sv-aside-nav
			md-button.md-warn.md-raised.md-hue-1(ng-click='openBottomSheet()')
				| We are on Social Media
