md-toolbar.toolbar-g(layout='row' layout-sm='column' layout-align='space-between center' layout-padding='10')
	div(flex='' flex-order-sm='2')
		h4.h-footer &copy; Svet Media Group  2015 - All rights reserved.
	div.text-right(flex='' flex-order-sm='1')
		span.text-footer 900 Skokie Blvd., Suite 103,Northbrook, IL 60062
		span.text-footer tel. 847-725-9407 | fax. 847-715-9677

