md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right' , md-is-locked-open="$media('gt-lg')")
	md-toolbar.md-accent.md-hue-1.txt-white(ng-controller='RightCtrl' layout='row' layout-align='space-around center')
		button.btn.btn--m.btn--fab(ng-click='close()' hide-gt-lg='')
			i.mdi.mdi-close
		span Партнерам и Клиентам
	md-content.md-padding(ng-controller='RightCtrl')
		sv-clients-nav
	div(layout='column')
		.margin-bottom-15.text-center(flex='')
			md-button.md-raised.text-info(ng-click='openBottomSheet()')
				i.mdi.mdi-account-multiple
				span.f-12 &nbsp Мы в Социальных Сетях
		.margin-bottom-15.text-center(flex='')
			md-button.md-raised(href="https://www.youtube.com/watch?v=fuVyrMp3BpI")
				i.fa.fa-youtube.fa-lg
				span.f-12 &nbsp Youtube Канал
	//md-content.md-padding.text-center
	//	img(src="../img/ad/surgery.jpg" style='display:inline-block')
	md-content.md-padding.margin-top-8.text-center
		div(id='datepicker')
	md-toolbar.bgc-blue-grey-50.txt-fontGrey(layout='row' layout-align="center center")
			span Наши Друзья
	md-content.md-padding.margin-top-8.text-center
		a(href="http://cso.org/")
			img.aside-img(src="../img/clients/chicago-symphony-orchestra.png")

