md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right' , md-is-locked-open="$media('gt-lg')")
	md-toolbar.md-accent(ng-controller='RightCtrl' layout='row' layout-align='space-around center' )
		button.btn.btn--m.btn--fab(ng-click='close()' hide-gt-lg='')
			i.mdi.mdi-close
		span Archive
	md-content.md-padding(ng-controller='RightCtrl')
		sv-aside-nav
		md-button.md-warn.md-raised.md-hue-1(ng-click='openBottomSheet()')
			| We are on Social Media
