div(flex='' layout='column' id='content')
	md-content.md-padding(flex='' layout='column')
		div(layout='row', layout-align='center center', layout-margin, hide-gt-lg='')
			md-button.md-primary(ng-click='toggleLeft()')
				i.mdi.mdi-newspaper
				| &nbsp Рубрики Новостей
			md-button.md-primary(ng-click='toggleRight()')
				i.fa.fa-file-archive-o.fa-fw
				| Наши Сервисы
		div(ui-view='')
