div(flex='' layout='column' id='content')
	md-content.md-padding(flex='' layout='column')
		div(layout='row', layout-align='center center', layout-margin, hide-gt-lg='')
			md-button.md-primary(ng-click='toggleLeft()')
				i.mdi.mdi-newspaper
				| &nbsp More News Sections
			md-button.md-primary(ng-click='toggleRight()')
				i.fa.fa-file-archive-o.fa-fw
				| News Archive
		div(ui-view='')
