md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$media('gt-lg')")
	md-toolbar.md-accent( hide-gt-lg='' ng-controller='LeftCtrl' layout='row' layout-align='space-around center')
		span Advertise with us
		button.btn.btn--m.btn--fab(ng-click='close()')
			i.mdi.mdi-close
	md-content.md-padding(ng-controller='LeftCtrl')
		sv-left-aside-nav
		//h2 POPULAR
		//sv-elements-nav
