md-content.md-padding(flex)
	div(layout='column' layout-gt-md='row' id='content' flex='')
		.margin-top-8(flex-gt-md='20' flex-order-gt-md='3' flex-order='3')
			.card.margin-top-8
				sv-aside-ad
			.card.margin-top-8
				sv-news-toolbar(number='7' panel-title='Главное')
		.margin-left-5.margin-right-5(flex flex-order-gt-md='2' flex-order='1')
			sv-aside-nav
			div(ui-view='')
		.margin-top-8(flex-gt-md='20' flex-order-gt-md='1' flex-order='2')
			.card
				sv-news-toolbar(number='5' panel-title='Сегодня')
