md-toolbar.md-warn.md-hue-1.margin-bottom-10( ng-controller='RightCtrl' layout='row' layout-align='space-around center')
    span Popular
md-content
    ul.list-inline
        li.margin-bottom-10
            span.text-primary 3.8.1015 &nbsp
            p At vero eos et accusamus et iusto odio dignissimos ducimus
        li.margin-bottom-10
            span.text-primary 3.8.1015 &nbsp
            p At vero eos et accusamus et iusto odio dignissimos ducimus
        li.margin-bottom-10
            span.text-primary 3.8.1015 &nbsp
            p At vero eos et accusamus et iusto odio dignissimos ducimus
        li.margin-bottom-10
            span.text-primary 3.8.1015 &nbsp
            p At vero eos et accusamus et iusto odio dignissimos ducimus
        li.margin-bottom-10
            span.text-primary 3.8.1015 &nbsp
            p At vero eos et accusamus et iusto odio dignissimos ducimus
