//Lumx Typography

div(layout='row' layout-margin='10' layout-align="center")
	div(flex)
		div
			h1.article-header {{title}}
		div.margin-bottom-5
			span.fs-subhead.display-block Source: Radio Svoboda
		div(layout='row' layout-align='space-between')
			div(flex='40' flex-sm="60")
				ul.list-inline.list-unstyled.margin-bottom-5
					li
						img(src="../img/social/fb-share.png" lx-ripple lx-tooltip="Поделиться")
					li
						img(src="../img/social/google-share.png" lx-ripple lx-tooltip="Поделиться")
					li
						img(src="../img/social/twitter-share.png" lx-ripple lx-tooltip="Поделиться" )
					li
						img(src="../img/social/linkedin-share.png" lx-ripple lx-tooltip="Поделиться")
					li
			div(flex='15' flex-sm="30")
				span.display-block.text-right.color-subheader(lx-ripple lx-tooltip="Просмотры")
					i.icon.icon--s.icon--flat.mdi.mdi-eye
		div.atricle-img.margin-bottom-15
			img(ng-src="{{img}}")
		div.light-padding-5 {{body}}
		md-toolbar.md-accent
			h1.md-toolbar-tools
				span Comments
		sv-comment
