div(flex-item='')
	.card(style='max-height:55px !important')
		.toolbar(style='padding:8px')
			lx-search-filter(model='searchFilter.fourth', style='height:30px !important' filter-width='100%' position='left', closed='')
