div(layout='', layout-align='center center')
	md-subheader(hide-sm='')
		.orange
			| I'm hidden on mobile and shown on larger devices.
	md-subheader(hide-gt-sm='')
		.blue
			| I'm shown on mobile and hidden on larger devices.
